{#
  File: feed.html
  Author: mrbacco04@gmail.com
  Date: 2026-10-05
#}
{% extends "layout.html" %}
{% block title %}Feed - {{ site.name }}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
    {% include "_composer.html" %}

    <ul class="nav nav-pills kind-filter mb-3">
      <li class="nav-item"><a class="nav-link {{ 'active' if not following }}" href="{{ url_for('feed.index') }}">Everyone</a></li>
      <li class="nav-item"><a class="nav-link {{ 'active' if following }}" href="{{ url_for('feed.index', following=1) }}">People I follow</a></li>
    </ul>

    {% for p in posts %}
      {% include "_post.html" %}
    {% else %}
      <div class="card rc-card"><div class="card-body text-center text-muted">
        {% if following %}Nothing from the people you follow yet. Find some on the <a href="{{ url_for('views.index') }}">People</a> page.{% else %}No posts yet. Be the first to share something!{% endif %}
      </div></div>
    {% endfor %}

    {% if has_more %}
    <a class="btn btn-ghost btn-block mb-3" href="{{ url_for('feed.index', before=next_before, following=1 if following else None) }}">Older posts</a>
    {% endif %}
  </div>
</div>
{% endblock %}
